/**
 *  SOURCE CODE VERSION: 1.0.0
 *  PROGRAMMER: NELSON CHIDI (NELMATRIX)
 *  DATE-TIME WRITTEN: NOV 25, 2025; 9:33AM
 *  REPOSITORY: https://github.com/NelMatrix743/color_palette_generator.git
 */

@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}


body {
    background: #7a6bf1;
    min-height: 100vh; /* necessary for alig-items to take effect */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
}


main {
    width: 700px;
    height: 350px;
    max-height: 500px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 2rem;
    padding: 20px 30px;
    gap: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}


h1 {
    text-align: center;
    color: #333333;
    padding-bottom: 0.5rem;
    margin-bottom: 1.5rem;
    position: relative;
}


h1::after {
    content: "";
     position: absolute;
     bottom: 0;
     left: 50%;
     width: 100%;
     height: 3px;
     transform: translateX(-50%);
     background-color: #667eea;
     border-radius: 2px;
}


.palette-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
}


.color-box {
    width: 7rem;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}


.color-box:hover {
    transform: translateY(-5px);
}


.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}


.generate-btn {
    background: linear-gradient(45deg, #667eea, #764ba2);
    color: #ffffff;
    border: none;
    padding: 15px 60px;
    border-radius: 2.5rem;
    font-weight: 700;
    font-size: 15px;
}


.generate-btn:hover {
    scale: 0.99;
}


.generate-btn:active {
    border: 2px solid #472b63;
    background: white;
    color: #764ba2;
}